#adminmenu a.chr-logo{
    display: block;
    background: url(../img/logo.webp) no-repeat center center;
    background-size: 140px 30px;
    width: 140px;
    opacity: 0.6;
    height: 30px;
    margin: 0 auto;
    padding: 10px 5px;
}

#adminmenu a.chr-logo div.wp-menu-name {
    display: none;
}